target
Будет удалено project/target/active.json
Будет удалено project/target/config-classes/
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/default/scala-for-java-dev-build/
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala-for-java-dev-build-compile-internal.xml
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala-for-java-dev-build-compile.xml
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala-for-java-dev-build-optional.xml
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala-for-java-dev-build-plugin.xml
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala-for-java-dev-build-pom.xml
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala-for-java-dev-build-provided.xml
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala-for-java-dev-build-runtime-internal.xml
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala-for-java-dev-build-runtime.xml
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala-for-java-dev-build-scala-tool.xml
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala-for-java-dev-build-test-internal.xml
Будет удалено project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala-for-java-dev-build-test.xml
Будет удалено project/target/streams/compile/compileIncSetup/
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sbt_2.12-compile.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sbt_2.12-optional.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sbt_2.12-provided.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sbt_2.12-runtime.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sbt_2.12-test.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources-compile-internal.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources-compile.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources-optional.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources-plugin.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources-pom.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources-provided.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources-runtime-internal.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources-runtime.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources-scala-tool.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources-test-internal.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources-test.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources_2.12-compile.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources_2.12-default.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources_2.12-optional.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources_2.12-provided.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources_2.12-runtime.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java$sources_2.12-test.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java_2.12-compile-internal.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java_2.12-compile.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java_2.12-optional.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java_2.12-plugin.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java_2.12-pom.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java_2.12-provided.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java_2.12-runtime-internal.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java_2.12-runtime.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java_2.12-scala-tool.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java_2.12-test-internal.xml
Будет удалено target/scala-2.12/resolution-cache/reports/scala-for-java-scala-for-java_2.12-test.xml
Будет удалено target/scala-2.12/resolution-cache/scala-for-java/
